* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3F4F6;
    font-family: monospace;
}

/* start the navbar section with hamburger menu */
header {
    background-color: #F9FAFB;
    box-shadow: 0 4px 6px -6px #222;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 2rem;
}

.nav-link {
    transition: 0.7s ease;
    color: #367D87;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link-icon {
    color: #262626;
    font-size: 2rem;
}

.nav-link:hover {
    color: #154064;

}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
}

.brand-text {
    font-size: 35px;
    font-weight: bold;
    color: #367D87;
}

/* end the navbar section with hamburger menu */

/* start the home section of page */

main {
    width: 100%;
    height: 70vh;
    box-shadow: 0 4px 6px -6px #222;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 90%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
}

.left-container {
    width: 45%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

h1 {
    font-size: 2rem;
    margin: 20px 0;
}

.text-data p {
    font-size: 1.5rem;
    font-family: sans-serif;
}

.button-data {
    border: 4px solid #6554FF;
    padding: 15px;
    font-size: 1.2rem;
    width: fit-content;
    font-weight: bold;
    border-radius: 10px;
}

.button-data:hover {
    cursor: pointer;
    box-shadow: -1px 1px 6px 6px #6554ff4f;
}

.right-container {
    width: 45%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-container img {
    width: 100%;
    height: auto;
}

/* end the home section of page */


/* start the media query for mobile responsive */
@media(max-width:768px){
    /* start navbar hamburger menu */
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s ;
        box-shadow: 0 4px 6px -6px #222;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
    /* end navbar hamburger menu */

    /* start the main home section */

    main {
        width: 100%;
        height: 90vh;
    }
    .main-container {
        height: 87vh;
        flex-direction: column;
        align-items: center;
        margin: 30px 0;
    }

    .left-container {
        width: 90%;
        height: 40vh;
    }
    .right-container {
        width: 90%;
        height: 40vh;
    }

    .right-container img {
        width: 80%;
    }


    /* end the main home section */
}
/* end the media query for mobile responsive and navbar hamburger menu */